<ion-text class="ion-text-center">
  <ion-img class="mainLogo" src="../../../assets/logos/PL-white.png"></ion-img>
</ion-text>

<div id="bottomPanel">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-text color="light" class="ion-padding">
        <h1> PayLo <br/> रोज़ का रोज़गार </h1>
      </ion-text>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" size-md="6">
        <ion-button shape="round" class="shadow" color="light" expand="block" routerLink="/auth/login">Log in</ion-button>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-button shape="round" class="shadow" color="light" fill="outline" expand="block" routerLink="/auth/registration">Sign up</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
