<ion-content class="ion-padding">

  <app-header></app-header>

  <ion-card id="statsBar" #weeklyTasksUpdate>
    <ion-row>
      <ion-col size="5">
        <ngx-circular-progress [value]="weeklyTasksPercentage" [color]="'#3880ff'" [txtColor]="'#3880ff'">
        </ngx-circular-progress>
      </ion-col>
      <ion-col size="7">
        <div class="verticalCenter">
          <ion-text>
            <h3>Weekly Progress</h3>
          </ion-text>
          <ion-text color="primary"><b>{{weeklyTasksCompleted}}/{{weeklyTasksTotal}}</b> completed tasks</ion-text>
          <ion-card-subtitle></ion-card-subtitle>
        </div>
      </ion-col>
      <ion-icon size="lg" name="bar-chart-outline"></ion-icon>
    </ion-row>
  </ion-card>

  <ion-item button lines="none" detail="false">
    <ion-label>
      <span *ngIf="todaysTaskOnly && todaysTaskOnly.length > 0; else noTaskForToday">
        <b>You have {{todaysTaskOnly.length}} tasks for today </b>
      </span>
      <ng-template #noTaskForToday><b>You don't have any task for today.</b> </ng-template>
    </ion-label>
    <ion-icon name="calendar-outline" slot="end"></ion-icon>
  </ion-item>

  <div class="dashTasksList" *ngIf="todaysTaskOnly && todaysTaskOnly.length > 0;">

    <ng-container *ngFor="let tasks of todaysTaskOnly">

      <div class="task">
        <ng-container>
          <ion-card class="flexCard {{tasks.platform}}"
            (click)="taskService.presentTaskModal(tasks, tasks.platformTask)">
            <ion-card-content>
              <ion-text>
                <h2>{{tasks.platform | titlecase}} Task <b>({{tasks.pointPerTask}} <span
                      [innerHtml]="global.sign"></span>)</b></h2>
                <b>Task:-</b> {{tasks.platformTask | titlecase}} <br />
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ng-container>
      </div>

    </ng-container>

  </div>
  <ion-item button lines="none" detail="false" *ngIf="allTasksNotCompleted && allTasksNotCompleted.length > 0;">
    <ion-label>
      <b>You have {{allTasksNotCompleted.length}} old tasks </b>
    </ion-label>
    <ion-icon name="calendar-outline" slot="end"></ion-icon>
  </ion-item>
  <div class="dashTasksList" *ngIf="allTasksNotCompleted && allTasksNotCompleted.length > 0;">
    <ion-text>
      <h6>Complete these old tasks to get more points.</h6>
    </ion-text>

    <ng-container *ngFor="let tasks of allTasksNotCompleted">

      <div class="task">
        <ng-container>
          <ion-card class="flexCard {{tasks.platform}}"
            (click)="taskService.presentTaskModal(tasks, tasks.platformTask)">
            <ion-card-content>
              <ion-text>
                <h2>{{tasks.platform | titlecase}} Task <b>({{tasks.pointPerTask}} <span
                      [innerHtml]="global.sign"></span>)</b></h2>
                <b>Task:-</b> {{tasks.platformTask | titlecase}} <br />
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ng-container>
      </div>

    </ng-container>
    <!-- <div class="task taskYouTube" *ngIf="tasks.platform == 'youtube'">
        <ion-card class="flexCard youtubeBg" (click)="taskService.presentModal()">
          <ion-card-content>
            <ion-text>
              <h2>YouTube Task <b>(15 <span [innerHtml]="global.sign"></span>)</b></h2>
              <b>Like, Comment</b> <br />(inProgress)
            </ion-text>
          </ion-card-content>
        </ion-card>
      </div>

      <div class="task taskInstagram" *ngIf="tasks.platform == 'instagram'">
        <ion-card class="flexCard instagramBg" (click)="taskService.presentModal()">
          <ion-card-content>
            <ion-text>
              <h2>Instagram Task <b>(15 <span [innerHtml]="global.sign"></span>)</b></h2>
              <b>Like, Follow</b> <br />(waiting)
            </ion-text>
          </ion-card-content>
        </ion-card>
      </div>

      <div class="task taskTwitter" *ngIf="tasks.platform == 'twitter'">
        <ion-card class="flexCard twitterBg" (click)="taskService.presentModal()">
          <ion-card-content>
            <ion-text>
              <h2>Twitter Task <b>(15 <span [innerHtml]="global.sign"></span>)</b></h2>
              <b>Re-Tweet</b> <br />(waiting)
            </ion-text>
          </ion-card-content>
        </ion-card>
      </div> -->


  </div>
  <div class="dashTasksList" *ngIf="!tasksForTodayAndRest" style="text-align: center;">
    <img src="../../../assets/animations/waiting-cat.gif" style="max-width: 200px;">
  </div>
  <ion-item button lines="none" detail="false" *ngIf="submittedTasks && submittedTasks.length > 0;">
    <ion-label>
      <b>You have {{submittedTasks.length}} tasks submitted </b>
    </ion-label>
    <ion-icon name="calendar-outline" slot="end"></ion-icon>
  </ion-item>
  <div class="dashTasksList" *ngIf="submittedTasks && submittedTasks.length > 0;">
    <ng-container *ngFor="let tasks of submittedTasks">

      <div class="task">
        <ng-container>
          <ion-card class="flexCard {{tasks.platform}}" (click)="showAlertForTask('submitted')">
            <ion-card-content>
              <ion-text>
                <h2>{{tasks.platform | titlecase}} Task <b>({{tasks.pointPerTask}} <span
                      [innerHtml]="global.sign"></span>)</b></h2>
                <b>Task:-</b> {{tasks.platformTask | titlecase}} <br />
                <ion-badge color="secondary">Submitted</ion-badge>
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ng-container>
      </div>

    </ng-container>
  </div>
  <ion-item button lines="none" detail="false" *ngIf="completedTasks && completedTasks.length > 0;">
    <ion-label>
      <b>You have {{completedTasks.length}} tasks completed </b>
    </ion-label>
    <ion-icon name="calendar-outline" slot="end"></ion-icon>
  </ion-item>
  <div class="dashTasksList" *ngIf="completedTasks && completedTasks.length > 0;">
    <ng-container *ngFor="let tasks of completedTasks">

      <div class="task">
        <ng-container>
          <ion-card class="flexCard {{tasks.platform}}">
            <ion-card-content>
              <ion-text>
                <h2>{{tasks.platform | titlecase}} Task <b>({{tasks.pointPerTask}} <span
                      [innerHtml]="global.sign"></span>)</b></h2>
                <b>Task:-</b> {{tasks.platformTask | titlecase}} <br />
                <ion-badge color="success">Completed</ion-badge>
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ng-container>
      </div>

    </ng-container>
  </div>
  <ion-item button lines="none" detail="false" *ngIf="rejectedTasks && rejectedTasks.length > 0;">
    <ion-label>
      <b>You have {{rejectedTasks.length}} tasks rejected </b>
    </ion-label>
    <ion-icon name="calendar-outline" slot="end"></ion-icon>
  </ion-item>
  <div class="dashTasksList" *ngIf="rejectedTasks && rejectedTasks.length > 0;">
    <ng-container *ngFor="let tasks of rejectedTasks">

      <div class="task">
        <ng-container>
          <ion-card class="flexCard {{tasks.platform}}" (click)="showAlertForTask('rejected', tasks.rejectReason)">
            <ion-card-content>
              <ion-text>
                <h2>{{tasks.platform | titlecase}} Task <b>({{tasks.pointPerTask}} <span
                      [innerHtml]="global.sign"></span>)</b></h2>
                <b>Task:-</b> {{tasks.platformTask | titlecase}} <br />
                <ion-badge color="danger">Rejected</ion-badge>
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ng-container>
      </div>

    </ng-container>
  </div>

</ion-content>