.customInputItem2 {
  border-radius: 64px;
  // border-radius: var(--border-radius);
  --background: rgb(170 170 170 / 51%)
}
// .customInputItem2 .native-input.sc-ion-input-ios {
//   padding-left: 20px !important;
// }
div#historyModule {
  height: 80vh;
  overflow: scroll;
}